/* CSS Document */

body {width:1004px;
	margin-left: auto;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	font-family:"ו";
	font-size:12px;
	color:#666666;

}

a{
color:#FFFFFF;
font-size:14px ;
font-weight:bold;
text-decoration:none;

}
a:link{
color:#FFFFFF;
text-decoration:none;
}

a:visited{

color:#FFFFFF;

text-decoration:none;
}
a.bb{
color:#2eadc8;
font-size:14px ;
font-weight:bold;
text-decoration:none;

}
a.bb:link{
color:#2eadc8;
text-decoration:none;
}

a.bb:visited{

color:#2eadc8;

text-decoration:none;
}